.simple-btn {
    background-color: var(--brightYellow);
    font-weight: bold;
    color: black;
    border: none;
}

.simple-btn:hover {
    background-color: #d4ea59;
    color: black;
}

.simple-btn:active {
    --bs-btn-active-bg: none;
}
