.software-services-section {
    background-color: #ff9e29; /* The orange background color */
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    display: flex;
    max-width: 1200px;
    align-items: center;
    gap: 7vw;
}

.image-container {
    flex: 1;
}

.styled-image {
    width: 100%;
    height: auto;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    /* This creates the hexagon shape */
    object-fit: cover;
}

.text-container {
    flex: 1;
    color: #000;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 50px;
    color: #000;
}

.section-description {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #000;
}

@media screen and (max-width: 870px) {
    .software-services-section {
        flex-direction: column; /* Stack elements vertically */
        padding: 20px 100px; /* Adjust padding for smaller screens */
    }

    .image-container {
        display: none; /* Hide the image container */
    }

    .text-container {
        text-align: center; /* Center the text */
        width: 100%; /* Make the text container full width */
    }

    .section-title {
        font-size: 2rem; /* Adjust font size for smaller screens */
    }

    .section-description {
        font-size: 1rem;
        line-height: 1.5;
    }
}
