.footer-section {
    background-color: #1e1e1e;
    color: #ccc;
    border-top: 2px solid #ff9d00;
    padding-top: 2rem;
}

.footer-title {
    color: #ffea00;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-text {
    font-size: 16px;
}

.footer-link {
    color: #ffea00;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-btn {
    background-color: #ff9d00;
    border: none;
    color: #1e1e1e;
    font-weight: bold;
}

.footer-btn:hover {
    background-color: #ffea00;
    color: #1e1e1e;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.logo-img {
    max-width: 150px;
    width: 150px;
    height: auto;
}

.footer-links {
    margin-top: 2rem;
}

.footer-link-list {
    list-style-type: none;
    padding: 0;
}

.footer-link-list li {
    margin-bottom: 0.5rem;
}

.footer-copyright {
    color: #ccc;
    font-size: 14px;
    margin-top: 2rem;
}

/* Responsive Styles */
@media (max-width: 992px) {
    .footer-section {
        padding-top: 1rem;
    }

    .footer-title {
        text-align: center;
    }

    .logo-img {
        width: 80px;
    }

    .footer-logo,
    .footer-links,
    .footer-text,
    .footer-btn {
        text-align: center;
        margin-bottom: 1rem;
    }

    .footer-link-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .footer-link-list li {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 768px) {
    .footer-section {
        padding-top: 1rem;
    }

    .footer-title {
        font-size: 18px;
        text-align: center;
    }

    .footer-text {
        font-size: 14px;
    }

    .footer-btn {
        display: block;
        font-size: 14px;
        margin: 0 auto;
    }

    .footer-copyright {
        font-size: 12px;
    }

    .footer-logo,
    .footer-links,
    .footer-text,
    .footer-btn {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
}
