/* General styles */
body {
    font-family: "Inter", sans-serif, "Courier New", Courier, monospace;
}

.features-section h2,
.faq-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.services-section .card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Speedy", Impact, Haettenschweiler, "Arial Narrow Bold",
        sans-serif;
}

/* Header */
.navbar {
    background-color: #0d1f36; /* Dark navy or company branding color */
}

.navbar h1 {
    font-size: 1.8rem;
    margin-left: 15px;
}

/* Footer */
.contact-section p {
    font-size: 1rem;
}

.text-end {
    text-align: right;
}

/* Portfolio Section */
.portfolio-section .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.portfolio-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

/* Testimonials Section */
.testimonials-section .blockquote {
    font-size: 1.2rem;
    color: #333;
}

.testimonials-section .blockquote-footer {
    color: #555;
}

/* Blog Section */
.blog-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.blog-section .card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
