:root {
    --orange: #ff9d00; /*255, 157, 0*/
    --yellow: #ffea00;
    --brightYellow: #ffff00;
    --secondaryOrange: #ee8003;
    --pink: #e13e92;
    --red: #e94848;
    --darkGray: #1a1a1a;
    --lightGray: #ccc;
    --white: #efefef;
    --black: #222;
    --trueBlack: #000;
    --darkBackground: #111;
}

body {
    background-color: var(--darkBackground);
    font-family: "Inter", sans-serif, "Courier New", Courier, monospace;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Speedy", Impact, Haettenschweiler, "Arial Narrow Bold",
        sans-serif;
}

/* Footer */
.contact-section p {
    font-size: 1rem;
}

.text-end {
    text-align: right;
}

/* Portfolio Section */
.portfolio-section .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Testimonials Section */
.testimonials-section .blockquote {
    font-size: 1.2rem;
    color: #333;
}

.testimonials-section .blockquote-footer {
    color: #555;
}

.blog-section .card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
